body {
    display: block;
}

.form-control {
    width:120%;
    height: 60%;
}

.main-container { 
    padding: 0.5 px;
    margin-right: auto;
    margin-left: auto;
    border-color: rgb(113, 103, 103);
    display: block;
}

.description-project {
    background: rgba(1, 1, 1, 0.838);
    margin: 1rem;
    padding: 1.5rem;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0.5rem;
}

.description-class {
    background: rgba(1, 1, 1, 0.838);
    margin: 1rem;
    padding: 1.5rem;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0.5rem;
}