body {
    margin: 0;
    padding: 0;
}

main{ 
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border-color: rgb(113, 103, 103);
    display: float;
}

#map {
    position: absolute; top:10%; left: 6%; width: 88vw; height: 100%;
}

.marker {
    background-image: url('Location_dot_clear.svg');
    background-size: cover;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }