
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

main{ 
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border-color: rgb(113, 103, 103);
    
}

#map {
    position: absolute; top:10%; left: 6%; width: 88vw; height: 90%;
}

footer {
    font:'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: white;
    width: 100%;
    background-color: #5a5a5a;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    }

footer h4, label {
    font-size: 16px;
    }


/* Style the range input */
input[type="range"] {
    -webkit-appearance: none;
    width: 80%;
    height: 8px;
    border-radius: 5px;
    margin-left: 20px;
    background-color: rgba(220, 223, 223, 0.91);
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 70%;
    background: #ffffff;
    cursor: pointer;

.marker {
    background-image: url('Location_dot_clear.svg');
    background-size: cover;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}
.mapboxgl-popup {
    max-width: 200px;
}
.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

