body {
    margin: 0;
    padding: 0;
}
#map {
    position: absolute; top:10%; left: 6%; width: 88vw; height: 100%;
}
.marker {
    background-image: url('Location_dot_clear.svg');
    background-size: cover;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}
.mapboxgl-popup {
    max-width: 200px;
}
.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}